@import "../abstract/variables";
@import "../abstract/variables";
@import "../abstract/mixins";

.form {
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 90px;
    padding: 10px 0 0;
    position: relative;
    width: 100%;

    &--label {
      @include fontRoboto(400, 1.6rem);
      position: absolute;
      top: 10px;
      left: 10px;
      display: block;
      transition: all 0.3s;
    }
    &--input {
      @include fontRoboto(300, 2rem);
      border: none;
      height: 30px;
      border-bottom: 3px solid transparent;
      background-color: transparent;
      margin: 0 10px;
      &:focus {
        outline: none;
      }
    }
    &--input:focus ~ &--line {
      background-color: $color-primary-medium;
    }

    &--input:placeholder-shown + &--label {
      opacity: 0;
      visibility: hidden;
      transform: translateY(25px);
      font-size: 2rem;
    }
    &--line {
      border-top: 1px solid $color-grey-light;
      margin-top: 10px;
      width: 100%;
      height: 2px;
      transition: all 0.3s;
    }
    &--alert {
      @include fontRoboto(300, 1.5rem);
      color: $color-alert-medium;
      position: absolute;
      right: 10px;
      bottom: 44px;
    }
    &--icon {
      width: 30px;
      fill: $color-primary-light;
      position: absolute;
      left: 10px;
      opacity: 50%;
      transform: all 0.3s;
    }
  }
}
input[type="file"] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
input[type="file"] ~ label {
  width: 100%;
  height: 60px;
  cursor: pointer;
  z-index: 10;
}
input[type="file"] ~ label:hover ~ svg {
  fill: $color-primary-dark;
}
input[type="file"] ~ label:hover ~ .form__item--line {
  background: $color-primary-dark;
}
input[type="file"] ~ div {
  margin-top: 42px;
}
input[type="file"] ~ .input-file__data {
  @include fontRoboto(300, 2rem);
  color: #8e8e8e;
  width: 90%;
  height: 30px;

  position: absolute;
  left: 49px;
  z-index: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.5s;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
