<div class="component">
  <div class="add-product">
    <div class="title">
      <h2 class="title__primary">Agregar productos</h2>
    </div>
    <form (ngSubmit)="submit()" class="form" [formGroup]="myForm">
      <div class="form__item">
        <input
          id="input--name"
          type="text"
          class="form__item--input"
          formControlName="name"
          placeholder="Nombre del producto"
        />
        <label for="input--name" class="form__item--label"
          >Nombre del producto</label
        >
        <p *ngIf="alert" class="form__item--alert">* Campo obligatorio</p>
        <div class="form__item--line"></div>
      </div>
      <div class="form__item">
        <input
          id="input--name"
          type="text"
          class="form__item--input"
          formControlName="name"
          placeholder="Nombre del producto"
        />
        <label for="input--name" class="form__item--label"
          >Nombre del producto</label
        >
        <p *ngIf="alert" class="form__item--alert">* Campo obligatorio</p>
        <div class="form__item--line"></div>
      </div>
      <div class="form__item">
        <input
          id="input--name"
          type="text"
          class="form__item--input"
          formControlName="name"
          placeholder="Nombre del producto"
        />
        <label for="input--name" class="form__item--label"
          >Nombre del producto</label
        >
        <p *ngIf="alert" class="form__item--alert">* Campo obligatorio</p>
        <div class="form__item--line"></div>
      </div>
      <div class="form__item">
        <input
          id="input--name"
          type="text"
          class="form__item--input"
          formControlName="name"
          placeholder="Nombre del producto"
        />
        <label for="input--name" class="form__item--label"
          >Nombre del producto</label
        >
        <p *ngIf="alert" class="form__item--alert">* Campo obligatorio</p>
        <div class="form__item--line"></div>
      </div>
      <div class="form__item">
        <input
          id="input--name"
          type="text"
          class="form__item--input"
          formControlName="name"
          placeholder="Nombre del producto"
        />
        <label for="input--name" class="form__item--label"
          >Nombre del producto</label
        >
        <p *ngIf="alert" class="form__item--alert">* Campo obligatorio</p>
        <div class="form__item--line"></div>
      </div>
      <div class="form__item">
        <input
          id="input--name"
          type="text"
          class="form__item--input"
          formControlName="name"
          placeholder="Nombre del producto"
        />
        <label for="input--name" class="form__item--label"
          >Nombre del producto</label
        >
        <p *ngIf="alert" class="form__item--alert">* Campo obligatorio</p>
        <div class="form__item--line"></div>
      </div>
      <div class="form__item">
        <input
          id="input--name"
          type="text"
          class="form__item--input"
          formControlName="name"
          placeholder="Nombre del producto"
        />
        <label for="input--name" class="form__item--label"
          >Nombre del producto</label
        >
        <p *ngIf="alert" class="form__item--alert">* Campo obligatorio</p>
        <div class="form__item--line"></div>
      </div>
      <div class="form__item">
        <input
          id="input--name"
          type="text"
          class="form__item--input"
          formControlName="name"
          placeholder="Nombre del producto"
        />
        <label for="input--name" class="form__item--label"
          >Nombre del producto</label
        >
        <p *ngIf="alert" class="form__item--alert">* Campo obligatorio</p>
        <div class="form__item--line"></div>
      </div>
      <div class="form__btns">
        <button type="submit">Agregar producto</button>
      </div>
    </form>
  </div>
</div>
