<div class="component">
  <div class="nav-bar">
    <div class="nav-bar__logo">
      <img src="../../../../assets/LOGO1.png" alt="Churrasco logo" />
    </div>
    <ul class="nav-bar__list">
      <li class="nav-bar__list--item" [routerLink]="['/dashboard', 'products']">
        <p>Productos</p>
      </li>
      <li
        class="nav-bar__list--item"
        [routerLink]="['/dashboard', 'addProduct']"
      >
        <p>Add product</p>
      </li>
      <li class="nav-bar__list--item" (click)="logOut()"><p>LogOut</p></li>
    </ul>
  </div>
</div>
