@import "../../styles/abstract/variables";
@import "../../styles/abstract/mixins";
@import "../../styles/components/buttons";
@import "../../styles/base/typography";
.component {
  padding: 50px 100px;
  background-color: $bg-grey-light;
  .title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
  }
}
.products-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;

  font-family: $font-roboto;

  width: auto;
  min-height: 100vh;

  .loading-component {
    position: absolute;

    top: 200px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  height: 300px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid $color-grey-light;
  margin: 20px;

  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

  &__title {
    @include fontRoboto(300, 2rem);
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
  }
  &__image {
    height: 120px;
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid $color-grey-light;
    overflow: hidden;

    img {
      width: 100px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__price {
    background: $bg-gradient-churrasco;
    width: 50%;
    border-radius: 0 4px 4px 0;
    p {
      @include fontRoboto(300, 2.5rem);
      text-align: center;
      color: white;
    }
  }
  &__description {
    @include fontRoboto(100, 1.2rem);
    padding: 0 10px;
  }
  &__btn {
    margin-bottom: 10px;
    button {
      display: block;
      margin: 0 auto;
    }
  }
}
