@import "../../styles/abstract/variables";
@import "../../styles/abstract/mixins";
@import "../../styles/base/typography";

@import "../../styles/components/productCard";
.component {
  padding: 50px 100px;
  background-color: $bg-grey-light;
  .title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
  }
}
.products-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;

  font-family: $font-roboto;

  width: auto;
  min-height: 100vh;

  .loading-component {
    position: absolute;

    top: 200px;
    left: 50%;
    transform: translateX(-50%);
  }
}
