<div class="overlay" (click)="closeModal(false)">
  <div class="component" [@modalAnimation]>
    <div class="product">
      <div class="product__title">
        <p>{{ product.name }}</p>
      </div>
      <div class="product__image">
        <img [src]="imageUrl" [alt]="product.pictures[0]" />
      </div>
      <div class="product__description">
        <p>Description: {{ product.description }}</p>
      </div>
      <div class="product__description">
        <p>Code: {{ product.code }}</p>
      </div>
      <div class="product__description">
        <p>SKU: {{ product.SKU }}</p>
      </div>
      <div class="product__description padd-bottom-10">
        <p>Price: {{ product.price }}</p>
      </div>
    </div>
    <div class="btn-container">
      <button class="btn btn__primary--light" (click)="closeModal(false)">
        Cancel
      </button>
      <button class="btn btn__primary--light" (click)="closeModal(true)">
        Add product
      </button>
    </div>
  </div>
</div>
